body
{
	background-color: white;
	font-family: 'Lato', sans-serif;
	background-image: url("tło2.png");
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

}

#logo
{
	color: white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
	background-color: #b30000;
	box-shadow: black 2px 2px 40px 4px;
	text-align: center;

}

#menu
{
	margin-top: 20px;
	color: #ffffff;
	padding: 10px;
	box-shadow: white 1px 1px 20px 2px;
	text-align: center;
	background-color: #303030
	
}

#topbar
{
	background-color: #b30000;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
	width: 980px;
	text-align: justify;

}



#sidebar
{
	float: left;
	width: 148px;
	min-height: 620px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
	box-shadow: white 3px 3px 60px 6px;
}

#content
{
	clear: both;
	color: black;
	text-align: left;
	padding: 20px;
	font-size: 18px;
	background-color: lightgrey;
	width: 960px;
	margin: auto;
	box-shadow: white 1px 1px 20px 2px;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
	background-color: #b30000;

;
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;

}

.option:hover
{
	background-color: #b30000;
	cursor: pointer;
}

.optionL
{
	font-size:18px;
	height:25px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
	color: #b30000;
}
a {
	text-decoration: none;
	color: white;
}
#title {
	color: white;
	text-align: center;
}
